html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 1.5rem !important;
}

.txtIntro {
    width: 550px;
    text-align: justify;
}

p {
    margin-bottom: 1.5rem !important;
}

.logoBox {
    text-align: center;
}

.logoBox img {
    width: 120px;
    height: auto;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.firmaBox {
    margin-top: 25px;
}

.botonBox {
    margin-top: 25px;
}


/* Mobile */

@media (max-width: 550px) {

    .txtIntro {
        width: 376px !important;
        text-align: center;
    }

    .colFirma {
        width: 250px !important;
    }

}

@media (max-width: 385px) {

    .txtIntro {
        width: 330px !important;
        text-align: center;
    }

    .colFirma {
        width: 200px !important;
    }

}
