html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 1.5rem !important;
}

p {
    margin-bottom: 1.5rem !important;
}
.logoBox {
    text-align: center;
}

.logoBox img {
    vertical-align: middle;
}

.firmaBox {
    margin-top: 25px;
}

.botonBox {
    margin-top: 25px;
}